<template>
  <div class="p-4 text-xs-center">

    <div class="row">
      <!-- User Details Card -->
      <div class="col-6 col-sm-6 mx-auto mt-3">
        <b-card bg-variant="light">
          <div  class="d-flex">
            <div class="d-flex">
              <v-card-media height="125px" contain :src="user.avatar"></v-card-media>
            </div>
            <div class="d-flex">
              <div>
                <div class="text-center">
                  <div class="headline">{{user.username}}</div>
                  <div>Joined {{formatJoinDate(user.joinDate)}}</div>
                  <div class="hidden-xs-only font-weight-thin">{{user.favorites.length}} Favorites</div>
                  <div class="hidden-xs-only font-weight-thin">{{userPosts.length}} Posts Added</div>
                </div>
              </div>
            </div>
          </div>
        </b-card>
      </div>

      <!-- Posts Favorited by User -->
      <div class="col-12 mt-4" v-if="!userFavorites.length">
        <h2>You have no favorites currently. Go and add some!</h2>
      </div>

      <!-- Posts Created By user -->
      <div v-if="!userPosts.length">
        <div class="row">
            <h2>You have no posts currently. Go and add some!</h2>
        </div>
      </div>

      <div class="mt-3 col-12" v-else>
          <h2 class="font-weight-light">Your Posts
            <span class="font-weight-regular">({{userPosts.length}})</span>
          </h2>
        <div class="row">
          <div class="col-12 col-lg-4" v-for="post in userPosts" :key="post._id">
            <b-card class="mt-3 ml-1 mr-2 post-card">
              <div class="mb-2">
                <b-btn @click="loadPost(post)" variant="primary" class="mr-2">
                  <b-icon-pencil-fill></b-icon-pencil-fill>
                </b-btn>
                <b-btn @click="handleDeleteUserPost(post)" variant="danger">
                  <b-icon-trash>delete</b-icon-trash>
                </b-btn>
              </div>

              <v-card-media @click="goToPost(post._id)" height="30vh" :src="post.imageUrl"></v-card-media>
              <v-card-text>{{post.title}}</v-card-text>
            </b-card>
          </div>
        </div>
      </div>

      <!-- Edit Post Dialog -->
      <v-dialog xs12 sm6 offset-sm3 persistent v-model="editPostDialog">
        <v-card>
          <v-card-title class="headline grey lighten-2">Update Post</v-card-title>
          <v-container>
            <v-form v-model="isFormValid" lazy-validation ref="form" @submit.prevent="handleUpdateUserPost">
              <div class="p-4">
                <!-- Title Input -->
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field :rules="titleRules" v-model="title" label="Post Title" type="text" required></v-text-field>
                  </v-flex>
                </v-layout>

                <!-- Image Url Input -->
                <v-layout row>
                  <v-flex xs12>
                    <v-text-field :rules="imageRules" v-model="imageUrl" label="Image URL" type="text" required></v-text-field>
                  </v-flex>
                </v-layout>

                <!-- Image Preview -->
                <v-layout row>
                  <v-flex xs12>
                    <img :src="imageUrl" height="300px">
                  </v-flex>
                </v-layout>

                <!-- Categories Select -->
                <v-layout row>
                  <v-flex xs12>
                    <v-select v-model="categories" :rules="categoriesRules" :items="['Art', 'Education', 'Food', 'Furniture', 'Travel', 'Photography', 'Technology']" multiple label="Categories"></v-select>
                  </v-flex>
                </v-layout>

                <!-- Description Text Area -->
                <v-layout row>
                  <v-flex xs12>
                    <v-textarea :rules="descRules" v-model="description" label="Description" type="text" required></v-textarea>
                  </v-flex>
                </v-layout>

                <v-divider></v-divider>

                <v-card-actions>
                  <v-spacer></v-spacer>
                  <v-btn :disabled="!isFormValid" type="submit" class="success--text" flat>Update</v-btn>
                  <v-btn class="error--text" flat @click="editPostDialog = false">Cancel</v-btn>
                </v-card-actions>
              </div>
            </v-form>
          </v-container>
        </v-card>
      </v-dialog>
    </div>

  </div>
</template>

<script>
import moment from "moment";
import { mapGetters } from "vuex";

export default {
  name: "Profile",
  data() {
    return {
      editPostDialog: false,
      isFormValid: true,
      title: "",
      imageUrl: "",
      categories: [],
      description: "",
      titleRules: [
        title => !!title || "Title is required",
        title => title.length < 20 || "Title must have less than 20 characters"
      ],
      imageRules: [image => !!image || "Image is required"],
      categoriesRules: [
        categories =>
          categories.length >= 1 || "At least one category is required"
      ],
      descRules: [
        desc => !!desc || "Description is required",
        desc =>
          desc.length < 200 || "Description must have less than 200 characters"
      ]
    };
  },
  computed: {
    ...mapGetters(["user", "userFavorites", "userPosts"])
  },
  created() {
    this.handleGetUserPosts();
  },
  methods: {
    goToPost(id) {
      this.$router.push(`/posts/${id}`);
    },
    formatJoinDate(date) {
      return moment(new Date(date)).format("ll");
    },
    handleGetUserPosts() {
      this.$store.dispatch("getUserPosts", {
        userId: this.user._id
      });
    },
    handleUpdateUserPost() {
      if (this.$refs.form.validate()) {
        this.$store.dispatch("updateUserPost", {
          postId: this.postId,
          userId: this.user._id,
          title: this.title,
          imageUrl: this.imageUrl,
          categories: this.categories,
          description: this.description
        });
        this.editPostDialog = false;
      }
    },
    handleDeleteUserPost(post) {
      this.loadPost(post, false);
      const deletePost = window.confirm(
        "Are you sure you want to delete this post?"
      );
      if (deletePost) {
        this.$store.dispatch("deleteUserPost", {
          postId: this.postId
        });
      }
    },
    loadPost(
      { _id, title, imageUrl, categories, description },
      editPostDialog = true
    ) {
      this.editPostDialog = editPostDialog;
      this.postId = _id;
      this.title = title;
      this.imageUrl = imageUrl;
      this.categories = categories;
      this.description = description;
    }
  }
};
</script>
<style lang="scss" scoped>
  .post-card{
    background-color: unset;
    border: unset;
  }
</style>